<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" android:versionCode="28" android:versionName="9" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.sec.android.app.hwmoduletest" platformBuildVersionCode="28" platformBuildVersionName="9">
    <permission android:name="com.sec.android.app.lcdtest.permission.KEYSTRING" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="com.samsung.android.permission.FINGERPRINT_PRIVILEGED"/>
    <uses-permission android:name="com.sec.factory.permission.KEYSTRING"/>
    <uses-permission android:name="com.samsung.difactorycamera.permission.ACCESS"/>
    <uses-permission android:name="com.sec.android.app.lcdtest.permission.KEYSTRING"/>
    <uses-permission android:name="com.sec.testingsettings.permission.KEYSTRING"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.HARDWARE_TEST"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"/>
    <uses-permission android:name="android.permission.sec.BARCODE_READ"/>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application android:label="@string/app_name" android:icon="@drawable/panel_hw" android:largeHeap="true">
        <receiver android:name="com.sec.android.app.hwmoduletest.HwModuleTestBroadcastReceiver" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE"/>
                <data android:scheme="android_secret_code" android:host="0*"/>
                <data android:scheme="android_secret_code" android:host="43788731"/>
                <data android:scheme="android_secret_code" android:host="43788732"/>
                <data android:scheme="android_secret_code" android:host="0437"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.HwModuleTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:exported="true" android:screenOrientation="portrait" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.ColorTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.OppositeActivity" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.DimmingTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.TouchTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.SpenHoveringDrawTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.TspPatternStyleX" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize" android:hardwareAccelerated="false"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.TspPatternStyleHoverX" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Dialog" android:name="com.sec.android.app.hwmoduletest.TspFailPop" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Dialog" android:name="com.sec.android.app.hwmoduletest.TouchTestPass" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Dialog" android:name="com.sec.android.app.hwmoduletest.TouchTestFail" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar" android:name="com.sec.android.app.hwmoduletest.ReceiverTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.VibrationTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.FrontCamTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.MegaCamTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.TeleCamTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.IrisCamTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.IrisLedTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.IrisEnrollTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.SubKeyTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar" android:name="com.sec.android.app.hwmoduletest.SensorTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.AccImageTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:hardwareAccelerated="false"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.AccGraphActivity" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.BarometerSelfTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.LightSensorReadTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GyroscopeDisplay" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GyroscopeGraphActivity" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.PowerNoiseGraphActivity" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.CameraImageView" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.LedTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.MoodLedTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GripSensorTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GripSensorTest2" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GripSensorTestLnB" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Black.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GripSensorWorkingTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GripSensorTestTouchIc" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.WacomTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.DigitizerTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.IrLedTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.HDMI_Portrait" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.HDMI_Landscape" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="landscape" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.HDMI" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.ProximityOffsetTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GyroscopeSensorTest_M" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GyroscopeInvensense" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GyroscopeMaxim" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GyroscopeOIS" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GyroscopeStandard" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GyroscopeIcSTMicro" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GyroscopeIcSTMicroTablet" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GyroscopeBosch" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.MagneticAsahi" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.MagneticAlps" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.MagneticBosch" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.MagneticYamaha" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.MagneticSTMicro" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.LowFrequencyTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.SvcLedTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/title_barcode_test" android:name="com.sec.android.app.hwmoduletest.BarcodeEmulTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:label="@string/title_activity_beam" android:name="com.sec.android.app.hwmoduletest.BeamActivity" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.SensorHubTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.LcdFlameTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.HallICTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.HallICTest_SensorHub" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.GripSensorCalibration" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Black.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.TempHumidTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.TempHumidDisplay" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.TempHumidGraphActivity" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.TempHumidThermistor" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintTest_snr_develop" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintTest_comb" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintTest_egis" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintTest_egisTZ" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerprintCalTest_egisOptical" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintTest_touch" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintTest_namsan" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintTest_namsanTZ" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintTest_cpid" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintTest_cpidTZ" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintTest_cap" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintTest_capTZ" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintTest_qbt2000" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerPrintSensorInfo_qbt2000" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:label="@string/fingerprint_test" android:name="com.sec.android.app.hwmoduletest.FingerprintIntCheckTest_qbt2000" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.HrmEolTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.HrmEolOnce" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.HrmTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:hardwareAccelerated="false"/>
        <activity android:theme="@style/Theme.Factory.Light.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.MSTTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Factory.Black.NoActionBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.BarometerWaterProofTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Black.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.SPen" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Black.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.SPenDrawTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Black.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.SpenAccuracyTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Black.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.SPenKeyTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.Light.NoTitleBar.Fullscreen" android:name="com.sec.android.app.hwmoduletest.SpeakerTest" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <receiver android:name="com.sec.android.app.hwmoduletest.WakeUpService" android:permission="com.sec.android.app.lcdtest.permission.KEYSTRING" android:exported="false" android:process=":remote">
            <intent-filter>
                <action android:name="com.sec.factory.WakeUp"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="com.goodix.gfmanager"/>
        <uses-library android:name="vendor.qti.hardware.fingerprint.V1_0.IQtiExtendedFingerprint" android:required="false"/>
        <meta-data android:name="com.sec.android.multiwindow.STYLE" android:value="noTitleBar"/>
        <meta-data android:name="com.samsung.android.non_immersive" android:value="true"/>
        <meta-data android:name="SamsungBasicInteraction" android:value="SEP10"/>
    </application>
</manifest>
